* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.header {
  &__title {
    margin-top: 5vh;
    font-size: 1.5rem;
  }
}

.header,
.form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 85%;
  margin: auto;
  @media (min-width: 768px) {
    width: 40%;
  }
  &__input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &__input {
    width: 100%;
  }
  &__input,
  &__button {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: #ffffff;
    outline: none;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
  &__button {
    color: #d88771;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #d88771;
      color: #ffffff;
    }
  }
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  &::after {
    content: "\25BC";
    position: absolute;
    background-color: #ff6f47;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0.5rem;
    pointer-events: none;
    @media (min-width: 768px) {
      padding: 1rem;
    }
  }
  &__filter {
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 0.5rem;
    @media (min-width: 768px) {
      padding: 1rem;
    }
  }
}

.todo {
  margin: 0.5rem 0;
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list {
    min-width: 50%;
    max-width: 85%;
    @media (min-width: 768px) {
      min-width: 25%;
      max-width: 40%;
    }
    list-style: none;
  }
  &__item {
    flex: 1;
    padding: 0rem 0.5rem;
  }
}

.complete__button,
.delete__button {
  background-color: #ff6f47;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  @media (min-width: 768px) {
    padding: 1rem;
  }
}

.complete__button {
  background-color: rgb(73, 204, 73);
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
